body {
	background-color: rgb(3, 12, 15);
	color: rgb(117, 155, 206);
	text-align: center;
}
.background {
	position: absolute;
	  	left: 10%;
	  	top: 0px;
	  	z-index: -1;
	  	width: 80%;
	  	height: 100%;
	  	-webkit-filter: blur(2px);
	  	filter: blur(2px);
}