/*================================*/

body {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 1.5vw;
	color: rgb(255, 255, 255);
	background-color: rgb(3, 12, 15);
}

/*================================*/

.shaded {
    opacity: 30%;
}
.blurred {
    -webkit-filter: blur(3px);
	filter: blur(3px);
}
.bordered {
    border: 0.25vw solid white;
	box-shadow: 0 0 2vw #ffffff;
}

/*================================*/

.background {
    position: fixed;
    z-index: -100;
    width: 80%;
    top: 0%;
	left: 9.75%;
}

/*================================*/

.container {
    position: relative;
    max-width: 100vw;
}
.left {
    position: absolute;

    text-align: left;

    left: 0px;
}
.center {
    position: absolute;

    text-align: center;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.right {
    position: absolute;
    
    text-align: right;

    right: 0px;
}

/*================================*/