body {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 1.5vw;
	color: rgb(255, 255, 255);
	background-color: rgb(3, 12, 15);
}

/*================================*/

/*header stuff*/

/*================================*/

.background {
	position: fixed;
		z-index: -3;
	  	top: 0px;
		width: 80%;
		left: 10%;
	  	-webkit-filter: blur(3px);
	  	filter: blur(3px);
}
.center_image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	width: 37.5%;
}
.center_text {
	position: absolute;
		width: 27.5%;
		margin-left: 35.5%;
		text-align: left;
}

/*================================*/

.initial_text {
	margin-top: -50%;
}