body {
    font-family: "Trebuchet MS", sans-serif;
    margin: 0;
}

.textbox {
    background-color: #4b546d;
	opacity: 0.8;
    padding: 0.1vh;
}

.text {
    color: #ffffff;
    text-decoration: none;
    white-space: nowrap;
    text-shadow: #4b546d;
    margin: 3vw;
}